---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Dimensions
$max-content-width: {{ site.max_width }};

@import
  "variables",
  "themes",
  "layout",
  "base",
  "distill",
  "cv",
  "font-awesome/fontawesome",
  "font-awesome/brands",
  "font-awesome/solid",
  "font-awesome/regular",
  "tabler-icons/tabler-icons.scss",
  "tabler-icons/tabler-icons-filled.scss",
  "tabler-icons/tabler-icons-outline.scss"
;

// === Custom styles for tools page tiles ===

.grid-item {
  margin-bottom: 1rem;
}

.card {
  height: 320px; /* fixed height for all cards */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.card img,
.card .figure img {
  max-height: 120px;
  object-fit: cover;
  width: 100%;
}

.card-title {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.card-text {
  flex-grow: 1;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* limits to 3 lines */
  -webkit-box-orient: vertical;
  margin-bottom: 0.5rem;
}

.card-body {
  display: flex;
  flex-direction: column;
  flex: 1;
}
